/* Main page */
body {
    background: linear-gradient(135deg, #ddfffc, #ffa5d2,  #fffde8,#64d8ff);
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    text-shadow:  2px 2px #000000,
    -2px -2px #000000,
    -2px 2px #000000,
    2px -2px #000000;
}

.graphs {
    background-color:rgba(0,0,0,0);
    margin:auto;
}